# Bike stats

Mark Bell

2020 Nov 29

In [1]:
import pandas as pd

In [2]:
station = pd.read_csv('./csv/station.csv')

In [6]:
# uhh, this data set repeated the field headers on line 50793...  so i just deleted that row? then the trip id counter is reset down to 400 something? this might have two data sets, duplicate data, or something else is funky
trip = pd.read_csv('./csv/trip.csv')

In [4]:
weather = pd.read_csv('./csv/weather.csv')

## What is the average trip duration for a borrowed bicycle?

In [15]:
duration = trip['tripduration'].mean() / 60

# playing with float precision
minutes = '%.2f'%duration
f"{minutes} minutes"

'19.64 minutes'

## What’s the most common age of a bicycle-sharer?

In [12]:
f"{2020 - int(trip['birthyear'].mode()[0])} years old."

'33 years old.'

## Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [28]:
def date_to_month(date):
    return int(date.split('/')[0])

In [34]:
precip = weather[['Date', 'Precipitation_In']]
precip['Month'] = precip['Date'].apply(date_to_month)

In [35]:
# mean (or average)
precip[['Month', 'Precipitation_In']].groupby('Month').mean().sort_values(by='Month')

       Precipitation_In
Month
1              0.143548
2              0.168421
3              0.156935
4              0.051333
5              0.012419
6              0.030500
7              0.012097
8              0.018226
9              0.041000
10             0.189000
11             0.187833
12             0.236290

In [36]:
# Median
precip[['Month', 'Precipitation_In']].groupby('Month').median().sort_values(by='Month')

       Precipitation_In
Month
1                 0.020
2                 0.040
3                 0.025
4                 0.000
5                 0.000
6                 0.000
7                 0.000
8                 0.000
9                 0.000
10                0.040
11                0.035
12                0.100

## What’s the average number of bikes at a given bike station?

In [95]:
active_station = station[station['current_dockcount'] > 0]
f"{'%.2f'%active_station['current_dockcount'].mean()} bikes per station, on average... discluding decommissioned stations."

'17.74 bikes per station, on average... discluding decommissioned stations.'

## When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [94]:
# this one took a whillllllllle to figure out! especially how to drop rows when they are not applicable
modified = station.dropna(subset=['modification_date'])
modified = modified[['install_dockcount', 'current_dockcount']]
gained = modified.loc[(modified['install_dockcount'] > modified['current_dockcount'])].count()[0]
lost = modified.loc[(modified['install_dockcount'] < modified['current_dockcount'])].count()[0]
f"Of the {gained+lost} modified stations, {lost} lost some bikes, and {gained} gained some bikes. So when a station is modified it is more likely to {'gain' if gained>lost else 'lose'} bikes."

'Of the 17 modified stations, 7 lost some bikes, and 10 gained some bikes. So when a station is modified it is more likely to gain bikes.'

## What is the longest trip?

In [123]:
hours = '%.2f'%(trip['tripduration'].max() / 60 / 60)
f"{hours} hours"

'8.00 hours'

## What is the most popular starting point?

In [130]:
trip['from_station_name'].mode()[0]

'Pier 69 / Alaskan Way & Clay St'

## And the least common?

In [141]:
trip['from_station_name'].value_counts().tail(1)

Pronto shop    1
Name: from_station_name, dtype: int64