# Video Game Sales

Mark Bell

2020 Nov 29

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./csv/vgsales.csv')
df.head(5)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

## Most common video game publisher

In [3]:
df['Publisher'].mode()[0]

'Electronic Arts'

## Most common platform

In [4]:
df['Platform'].mode()[0]

'DS'

## Most common genre

In [5]:
df['Genre'].mode()[0]

'Action'

In [6]:
## Top 20 highest grossing games

In [7]:
df[['Name', 'Global_Sales']].head(20).sort_values(by='Global_Sales', ascending=False).set_index('Name')

                                              Global_Sales
Name
Wii Sports                                           82.74
Super Mario Bros.                                    40.24
Mario Kart Wii                                       35.82
Wii Sports Resort                                    33.00
Pokemon Red/Pokemon Blue                             31.37
Tetris                                               30.26
New Super Mario Bros.                                30.01
Wii Play                                             29.02
New Super Mario Bros. Wii                            28.62
Duck Hunt                                            28.31
Nintendogs                                           24.76
Mario Kart DS                                        23.42
Pokemon Gold/Pokemon Silver                          23.10
Wii Fit                                              22.72
Wii Fit Plus                                         22.00
Kinect Adventures!                                   21.82
Grand Theft Auto V                                   21.40
Grand Theft Auto: San Andreas                        20.81
Super Mario World                                    20.61
Brain Age: Train Your Brain in Minutes a Day         20.22

## North American median sales

In [8]:
# Get the mean
na_mean = df['NA_Sales'].mean()

# get the 5 nearest, but above the mean, then sort by name
above = df.loc[df['NA_Sales'] >= na_mean].sort_values(by='NA_Sales', ascending=False).tail(5)
above = above.sort_values(by='Name')

# get the 5 nearest, but below the mean, then sort by name
below = df.loc[df['NA_Sales'] < na_mean].sort_values(by='NA_Sales', ascending=False).head(5)
below = below.sort_values(by='Name')

# show the results
results = pd.concat([above, below])
results.set_index('Name')

,Rank,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Name,,,,,,,,,,
Cars: Race-O-Rama,4210,PS2,2009.0,Racing,THQ,0.27,0.03,0.00,0.17,0.47
Dora The Explorer: Dora Saves the Snow Princess,4252,DS,2008.0,Platform,Take-Two Interactive,0.27,0.16,0.00,0.04,0.46
Sesame Street: Elmo's A-to-Zoo Adventure,6179,DS,2010.0,Misc,Warner Bros. Interactive Entertainment,0.27,0.00,0.00,0.02,0.28
TRON: Evolution,4557,PS3,2010.0,Action,Disney Interactive Studios,0.27,0.10,0.00,0.05,0.43
Transformers: Revenge of the Fallen (Wii & PS2 Version),4356,DS,2009.0,Action,Activision,0.27,0.14,0.00,0.04,0.45
Classic NES Series: Metroid,4494,GBA,2004.0,Adventure,Nintendo,0.26,0.10,0.07,0.01,0.43
Disney Princess: Enchanting Storybooks,4743,Wii,2011.0,Misc,THQ,0.26,0.11,0.00,0.04,0.41
Marvel: Ultimate Alliance 2,5466,Wii,2009.0,Role-Playing,Activision,0.26,0.05,0.00,0.03,0.33
Naruto Shippuden: Ultimate Ninja 4,3059,PS2,2007.0,Fighting,Atari,0.26,0.01,0.13,0.26,0.66
The Gunstringer,4772,X360,2011.0,Shooter,Microsoft Game Studios,0.26,0.11,0.00,0.04,0.41

## Top-selling game in NA, how many standard deviations above (or below) the mean are its sales

In [9]:
# get the NA_Sales top game
top_na_games = df['NA_Sales']
top_na_game = top_na_games.sort_values(ascending=False)[0]

#divide our top game by standard deviation of the whole set... i think this is how this works?
top_na_game/top_na_games.std()

50.80306374875828

## Wii global sales compared to other consoles

In [10]:
df.groupby('Platform')['Global_Sales'].sum().sort_values(ascending=False)

Platform
PS2     1255.64
X360     979.96
PS3      957.84
Wii      926.71
DS       822.49
PS       730.66
GBA      318.50
PSP      296.28
PS4      278.10
PC       258.82
XB       258.26
GB       255.45
NES      251.07
3DS      247.46
N64      218.88
SNES     200.05
GC       199.36
XOne     141.06
2600      97.08
WiiU      81.86
PSV       61.93
SAT       33.59
GEN       28.36
DC        15.97
SCD        1.87
NG         1.44
WS         1.42
TG16       0.16
3DO        0.10
GG         0.04
PCFX       0.03
Name: Global_Sales, dtype: float64

## What are the top 10 games in Japan?

In [11]:
df[['Name', 'JP_Sales']].sort_values(by='JP_Sales', ascending=False).head(10)

                                            Name  JP_Sales
4                       Pokemon Red/Pokemon Blue     10.22
12                   Pokemon Gold/Pokemon Silver      7.20
1                              Super Mario Bros.      6.81
6                          New Super Mario Bros.      6.50
20                 Pokemon Diamond/Pokemon Pearl      6.04
26                   Pokemon Black/Pokemon White      5.65
25                 Pokemon Ruby/Pokemon Sapphire      5.38
41                   Animal Crossing: Wild World      5.33
27   Brain Age 2: More Training in Minutes a Day      5.32
214                     Monster Hunter Freedom 3      4.87

## What are the top 5 years with the most sales globally?

In [12]:
df.groupby('Year')['Global_Sales'].sum().sort_values(ascending=False).head(5)

Year
2008.0    678.90
2009.0    667.30
2007.0    611.13
2010.0    600.45
2006.0    521.04
Name: Global_Sales, dtype: float64

## What are the 3 the worst performing genres in Europe?

In [13]:
df.groupby('Genre')['EU_Sales'].sum().sort_values().head(3)

Genre
Strategy     45.34
Puzzle       50.78
Adventure    64.13
Name: EU_Sales, dtype: float64